*{
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
@font-face {
	font-family: MarketBold;
	src: url('../fonts/Market Fresh Bold.ttf') format('truetype');
}
@font-face {
	font-family: MarketInlineBold;
	src: url('../fonts/Market Fresh Inline Bold.ttf') format('truetype');
}
@font-face {
	font-family: Market;
	src: url('../fonts/Market Fresh.otf') format('truetype');
}
body {
	background: #222222;
}
a {
	text-decoration: none;
}
.header {
	position: fixed;
	left: 50%;
	transform: translate(-50%,0%);
	z-index: 100;
	background: transparent;
	width: 100vw;
}
.header.fixed {
	/*background: #222222;*/
}
.header .wrap {
	width: 90%;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 30px 0 0;
	-ms-align-items: center;
	align-items: center;
	
}
.header .logo {
	width: 9%;
	padding-top: 9%;
	background: url(../img/logo-white.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	transition: all .2s;
}
.header .logo:hover {
	opacity: .6;
}
.header .cont {
	text-align: right;
	color: #d22d3d;
	text-transform: uppercase;
	font: 24px MarketInlineBold;
	letter-spacing: 2px;
}
.header .cont a {
	color: #d22d3d;
	font: 36px MarketInlineBold;
	letter-spacing: 2px;
	line-height: 2em;
	display: block;
}
.header .cont a:hover {
	opacity: .6;
}
.header .cont p {
	display: inline-block;
	position: relative;
}
.header .cont p:before {
	content: "";
	position: absolute;
	display: block;
	left: -45px;
	bottom: 0;
	width: 18px;
	height: 25px;
	background: url(../img/geo-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.video-title {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.video-title video {
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	background-size: cover;
	z-index: -1;
}
.video-title .title {
	width: 37.5%;
	padding: 16% 0 0 14%;
}
.video-title .title h1 {
	color: #c9c9c9;
	font: 51px MarketBold;
	border-left: 5px solid #dcdcdc;
	padding-left: 35px;
	margin-bottom: 90px;
}
.video-title .title .tripple {
	width:100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
.video-title .title .tripple .item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	width: 30%;
	font: 18px MarketBold;
	text-align: center;
	color: #fff;
}
.video-title .title .tripple .img {
	width: 70%;
	padding-top: 60%;
	margin-bottom: 17px;
}
.video-title .title .tripple p {
	line-height: 1.5em;
}
.video-title .title .tripple .img.lounge {
	background: url(../img/lounge-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.video-title .title .tripple .img.karaoke {
	background: url(../img/karaoke-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.video-title .title .tripple .img.hookah {
	background: url(../img/hookah-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.video-title .img {
	background: url(../img/tiger-gray.png) 50% 80% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 25%;
	margin-left: 6%;
}
.promo-slider {
	box-shadow: 0 10px 35px #191919;
	margin-bottom: 100px;
}
.promo-slider .wrap {
	padding: 100px 0 0;
	width: 90%;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.promo-slider .left {
	width: 40%;
	padding: 50px 0 55px 50px;
	z-index: 10;
}
.promo-slider .left .tag {
	color: #545454;
	font: 50px MarketBold;
	line-height: 1em;
}
.promo-slider .left .tag span {
	font: 100 29px Roboto, sans-serif;
	text-transform: uppercase;
	display: block;
}
.promo-slider .left h2 {
	margin: 40px 0;
	color: #d3d3d3;
	font: 50px MarketBold;
	line-height: 1em;
}
.promo-slider .left .desc {
	color: #808080;
	font: 300 24px Roboto, sans-serif;
	width: 60%;
}
.promo-slider .left .slide-text-wrap .slide {
	display: none;
	opacity: 0;
	transform: translate(0,-15px);
	transition: all .5s ease-in-out;
}
.promo-slider .left .slide-text-wrap .slide.active {
	display: block;
}
.promo-slider .left .slide-text-wrap .slide.active.op {
	opacity: 1;
	transform: translate(0,0);
}
.promo-slider .left .double {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-top: 120px;
	-ms-align-items: center;
	align-items: center;
}
.promo-slider .left .double .timeline {
	width: 47%;
	height: 3px;
	background: #ffc0c0;
	position: relative;
}
.promo-slider .left .double .timeline span {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 6px;
	background: #d24a43;
	animation: timeline 4s ease-in-out infinite;
}
@keyframes timeline {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
.promo-slider .left .double .arrow {
	width: 22px;
	height: 12px;
	background: url(../img/arrow-right.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	cursor: pointer;
	animation: rollRight 1.5s ease-in-out infinite;
	outline: none;

}
@keyframes rollRight {
	0% {
		transform: translate(0,0);
	}
	50% {
		transform: translate(5px,0);
	}
	100% {
		transform: translate(0,0);
	}
}
.promo-slider .right {
	position: absolute;
	width: 65%;
	height: 60%;
	padding-top: 50px;
	right: 0;
}
.promo-slider .right .slide {
	-webkit-clip-path: polygon(5.5% 0%, 30% 100%, 100% 100%, 100% 0%);
	clip-path: polygon(5.5% 0%, 30% 100%, 100% 100%, 100% 0%);
	position: absolute;
	display: none;
	opacity: 0;
	width: 100%;
	height: 100%;
	transform: translate(15px,0);
}
.promo-slider .right .slide.active {
	display: block;
	
}
.promo-slider .right .slide.active.op {
	opacity: 1;
	transform: translate(0,0);
}
.promo-slider .right .slide1 {
	background: url(../img/slide-1.png) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.promo-slider .right .slide2 {
	background: url(../img/slide-1.png) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.promo-slider .right .slide3 {
	background: url(../img/slide-1.png) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.promo-slider .right .slide4 {
	background: url(../img/slide-1.png) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.promo-slider .right .slide5 {
	background: url(../img/slide-1.png) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
section.menu {
	width: 90%;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.menu .main {
	width: 68%;
}
.menu .main .promo {
	
}
.menu .main .promo .wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.menu .main .promo .double {
	width: 48%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}
.menu .main .promo .item1 {
	background: url(../img/spec-main-img.jpg) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 795px;
	width: calc(48% - 30px);
}
.menu .main .promo .item {
	padding: 50px 15px 0 15px;
	position: relative;
}
.menu .main .promo .item h3 {
	color: #fefefe;
	font: 36px MarketBold;
}

.menu .main .promo .item .price {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #222222;
	color: #ff2121;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	padding: 20px 15px;
	width: calc(50% - 30px);
}
.menu .main .promo .item .price .from {
	font: 300 24px Roboto;
}
.menu .main .promo .item .price > span {
	margin-right: 15px;
}
.menu .main .promo .item .price .weight {
	margin-top: 5px;
}
.menu .main .promo .item .price .price-item {
	color: #fefefe;
	font: 50px MarketBold;
	line-height: 1.1em;
}
.menu .main .promo .item2, .menu .main .promo .item3 {
	height: calc(48% - 50px)
}
.menu .main .promo .item2 {
	background: url(../img/spec-2-img.jpg) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.menu .main .promo .item3 {
	background: url(../img/spec-3-img.jpg) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.menu  .nav {
	width: 28%;
	padding-top: 40px;
}
.menu  .nav h2, .menu .tab h2 {
	color: #cfcfcf;
	font: 51px MarketBold;
}
.menu  .nav ul {
	padding: 80px 0 0 60px;
	color: #cfcfcf;
	font: 24px MarketBold;
}
.menu  .nav ul li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	width: 63%;
	padding: 10px 20px;
	border: 1px solid #d12329;
	margin-bottom: 15px;
	transition: all .2s ease-in-out;
	cursor: pointer;
}
.menu  .nav ul li:hover, .menu  .nav ul li.active {
	background: #290000;
	transform: translate(10px,0);
}
.menu  .nav ul li span {
	width: 50%;
}
.menu  .nav ul li .img {
	width: 22%;
	padding-top: 22%;
	background: url(../img/pizza-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.menu  .nav ul li .img.sushi {
	background: url(../img/pizza-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.menu .pizza-tab, .menu .sushi-tab, .menu .lunch-tab, .menu .desert-tab, .menu .salad-tab, .menu .drinks-tab {
	height: 795px;
	overflow-x: scroll;
	overflow-y: hidden;
}
.menu .pizza-tab .wrap, .menu .sushi-tab .wrap, .menu .lunch-tab .wrap, .menu .desert-tab .wrap, .menu .salad-tab .wrap, .menu .drinks-tab .wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 100%;
}
.menu .pizza-tab .wrap .item, .menu .sushi-tab .wrap .item, .menu .lunch-tab .wrap .item, .menu .desert-tab .wrap .item, .menu .salad-tab .wrap .item, .menu .drinks-tab .wrap .item {
	width: 30%;
	padding-top: 19%;
	margin-bottom: 1%;
	margin-right: 1%;
	border: 2px solid #fff;
}
.menu .main > .tab {
	display: none;
	opacity:0;
	transition: .4s ease-in-out;
	transform: translate(0,-15px);
}
.menu .main > .tab.active {
	display: block;
}
.menu .main > .tab.active.op {
	opacity:1;
	transform: translate(0,0);
}
.map {
	position: relative;
	margin-top: 90px;
}
.map .title {
	width: 35.5%;
	position: absolute;
	right: 4%;
	top: 50%;
	transform: translate(0,-50%);
	/*background: #222222;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	/*padding: 40px 30px;*/
}
.map .title .cont, .map .title .logo {
	padding: 40px 30px;
	width: calc(50% - 61px);
	background: #222222;
}
.map .title .cont > a, .map .title .cont p {
	color: #fff;
	font: 24px MarketInlineBold;
	padding: 30px 0;
	text-align: center;
	display: block;
	border-bottom: 1px solid #ff0000;
	letter-spacing: 2px;
}
.map .title .cont > a {
	padding-top: 0;
}
.map .title .cont .links {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin: 0 auto;
	padding-top: 20px;
}
.map .title .cont .links a {
	display: inline-block;
	width: 21%;
	padding-top: 21%;
	border-radius: 50%;
}
.map .title .cont .links a.fb {
	background: #202020 url(../img/fb-icon.png) 50% no-repeat;
	background-size: 40%;
}
.map .title .cont .links a.be {
	background: #202020 url(../img/be-icon.png) 50% no-repeat;
	background-size: 60%;
}
.map .title .cont .links a.goo {
	background: #202020 url(../img/goo-icon.png) 50% no-repeat;
	background-size: 60%;
}
.map .title .logo .img {
	width: 100%;
	height: 100%;
	background: url(../img/tiger-logo-map.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.map .map-area {
	width: 100%;
	height: 500px;
}

/*******************
***** adaptive *****
*******************/
@media screen and (max-width: 1500px) {
	.video-title .title h1, .promo-slider .left .tag, .promo-slider .left h2 {
		font-size: 36px;
	}
	.header .cont a {
		font-size: 24px;
	}
	.header .cont a, .promo-slider .left .tag span, .promo-slider .left .desc {
		font-size: 21px;
	}
	.map .title .cont > a, .map .title .cont p {
		font-size: 16px;
		padding: 15px 0;
	}
	.map .title .cont > a {
		padding-top: 0;
	}
}
@media screen and (max-width: 1366px) {
	.video-title .title {
		padding-top: 13%;
	}
	.video-title .title h1 {
		margin-bottom: 45px;
	}

}
@media screen and (max-width: 1024px) {
	.video-title .title h1, .promo-slider .left .tag, .promo-slider .left h2 {
		font-size: 28px;
	}
	.video-title .title .tripple .item {
		font-size: 14px;
	}
	.video-title .title {
		padding-top: 16%;
	}
	.header .cont a {
		font-size: 21px;
		line-height: 1.5em;
	}
	.header .cont p, .promo-slider .left .tag span, .promo-slider .left .desc {
		font-size: 18px;
	}
	.promo-slider .left .double {
		padding-top: 60px;
	}
	.promo-slider .right {
		height: 50%;
	}
	.map .title {
		width: 40%;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.map .title .cont {
		width: calc(100% - 60px);
	}
	 .map .title .logo {
	 	display: none;
	 }
	 .map .map-area {
	 	height: 70vh;
	 }
}
@media screen and (max-width: 922px) {
	.video-title > .img {
		display: none;
	}
	.video-title .title {
		width: 50%;
	}
}
@media screen and (max-width: 768px) {
	.video-title video {
		width: auto;
		height: 100%
	}
}
@media screen and (max-width: 660px) {
	.video-title .title {
		padding-top: 22%;
		width: 70%;
	}
	.header .logo {
		width: 13%;
		padding-top: 13%;
	}
}
@media screen and (max-width: 480px) {
	.video-title .title {
		padding-top: 115px;
	}
	.header .logo {
		padding-top: 80px;
		width: 80px;
	}
	.video-title .title h1 {
		font-size: 22px;
		letter-spacing: 4px;
	}
	.video-title .title .tripple .img {
		display: none;
	}
	.video-title .title .tripple {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.video-title .title .tripple .item {
		width: 100%;
		margin-bottom: 15px;
	}
	.video-title .title .tripple p {
		font-size: 16px;
	}
	.header .wrap {
		padding-top: 15px;
	}
	.header .cont a {
		font-size: 18px;
	}
	.header .cont p {
		font-size: 14px;
	}
	.map .title .cont > a, .map .title .cont p {
		font-size: 12px;
	}
}