*{
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
@font-face {
	font-family: MarketBold;
	src: url('../fonts/Market Fresh Bold.ttf') format('truetype');
}
@font-face {
	font-family: MarketInlineBold;
	src: url('../fonts/Market Fresh Inline Bold.ttf') format('truetype');
}
@font-face {
	font-family: Market;
	src: url('../fonts/Market Fresh.otf') format('truetype');
}
body {
	background: #222222;
}
a {
	text-decoration: none;
}
.header {
	position: fixed;
	left: 50%;
	-webkit-transform: translate(-50%,0%);
	-ms-transform: translate(-50%,0%);
	transform: translate(-50%,0%);
	z-index: 100;
	background: transparent;
	width: 100vw;
}
.header.fixed {
	background: #222222;
	-webkit-box-shadow: 0 10px 35px #191919;
	box-shadow: 0 10px 35px #191919;
}
.header.fixed .center .desc {
	display: none;
}
.header.fixed .center .item {
	margin-bottom: 0;
}
.header.fixed .logo {
	background: url(../img/logo-fixed.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 3.5%;
	padding-top: 4.3%;
}
.header.fixed .wrap {
	padding: 10px 0;
}
.header.fixed .cont a {
	line-height: 1.5em;
}
.header .wrap {
	width: 90%;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 30px 0 0;
	-ms-align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	
}
.header .logo {
	width: 9%;
	padding-top: 9%;
	background: url(../img/logo-white.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.header .logo:hover {
	opacity: .6;
}
.header .center {
	width: 38.4%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.header .center .item {
	width: 33%;
	color: #ffe5c0;
	font: 500 14px Roboto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 20px;
}
.header .center .item .img {
	width: 25%;
	padding-top: 25%;
	margin-right: 10px;
}
.header .center .time .img {
	background: url(../img/time.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.header .center .wifi .img {
	background: url(../img/wifi.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.header .center .plug .img {
	background: url(../img/plug.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.header .center .desc {
	color: #ffe5c0;
	font: 14px Roboto;
	padding-left: 12px;
	border-left: 3px solid #d6a154;
}
.header .cont {
	text-align: right;
	color: #e1a957;
	text-transform: uppercase;
	font: 24px MarketInlineBold;
	letter-spacing: 2px;
}
.header .cont a {
	color: #e89f34;
	font: 36px MarketInlineBold;
	letter-spacing: 2px;
	line-height: 2em;
	display: block;
}
.header .cont a:hover {
	opacity: .6;
}
.header .cont p {
	display: inline-block;
	position: relative;
}
.header .cont p:before {
	content: "";
	position: absolute;
	display: block;
	left: -45px;
	bottom: 0;
	width: 18px;
	height: 25px;
	background: url(../img/geo-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.video-title {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.video-title video {
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	background-size: cover;
	z-index: -1;
}
.video-title .title {
	width: 37.5%;
	padding: 16% 0 0 14%;
}
.video-title .title h1 {
	color: #c9c9c9;
	font: 51px MarketBold;
	border-left: 5px solid #dcdcdc;
	padding-left: 35px;
	margin-bottom: 90px;
}
.video-title .title .tripple {
	width:100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.video-title .title .tripple .item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-ms-align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 30%;
	font: 18px MarketBold;
	text-align: center;
	color: #fff;
}
.video-title .title .tripple .img {
	width: 70%;
	padding-top: 60%;
	margin-bottom: 17px;
}
.video-title .title .tripple p {
	line-height: 1.5em;
}
.video-title .title .tripple .img.lounge {
	background: url(../img/lounge-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.video-title .title .tripple .img.karaoke {
	background: url(../img/karaoke-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.video-title .title .tripple .img.hookah {
	background: url(../img/hookah-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.video-title .img {
	background: url(../img/tiger-gray.png) 50% 80% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 25%;
	margin-left: 6%;
}
.promo-slider {
	-webkit-box-shadow: 0 10px 35px #191919;
	box-shadow: 0 10px 35px #191919;
	margin-bottom: 100px;
}
.promo-slider .wrap {
	padding: 100px 0 0;
	width: 90%;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
}
.promo-slider .left {
	width: 40%;
	padding: 50px 0 55px 50px;
	z-index: 10;
}
.promo-slider .left .tag {
	color: #545454;
	font: 50px MarketBold;
	line-height: 1em;
}
.promo-slider .left .tag span {
	font: 100 29px Roboto, sans-serif;
	text-transform: uppercase;
	display: block;
}
.promo-slider .left h2 {
	margin: 40px 0;
	color: #d3d3d3;
	font: 50px MarketBold;
	line-height: 1em;
}
.promo-slider .left .desc {
	color: #808080;
	font: 300 24px Roboto, sans-serif;
	width: 60%;
}
.promo-slider .left .slide-text-wrap .slide {
	display: none;
	opacity: 0;
	-webkit-transform: translate(0,-15px);
	-ms-transform: translate(0,-15px);
	transform: translate(0,-15px);
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.promo-slider .left .slide-text-wrap .slide.active {
	display: block;
}
.promo-slider .left .slide-text-wrap .slide.active.op {
	opacity: 1;
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);
}
.promo-slider .left .double {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 120px;
	-ms-align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.promo-slider .left .double .timeline {
	width: 47%;
	height: 3px;
	background: #ffc0c0;
	position: relative;
}
.promo-slider .left .double .timeline span {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 6px;
	background: #d24a43;
}
@-webkit-keyframes timeline {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
@keyframes timeline {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
.promo-slider .left .double .arrow {
	width: 22px;
	height: 12px;
	background: url(../img/arrow-right.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	cursor: pointer;
	-webkit-animation: rollRight 1.5s ease-in-out infinite;
	animation: rollRight 1.5s ease-in-out infinite;
	outline: none;

}
@-webkit-keyframes rollRight {
	0% {
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
	}
	50% {
		-webkit-transform: translate(5px,0);
		transform: translate(5px,0);
	}
	100% {
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
	}
}
@keyframes rollRight {
	0% {
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
	}
	50% {
		-webkit-transform: translate(5px,0);
		transform: translate(5px,0);
	}
	100% {
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
	}
}
.promo-slider .right {
	position: absolute;
	width: 65%;
	height: 60%;
	padding-top: 50px;
	right: 0;
}
.promo-slider .right .slide {
	-webkit-clip-path: polygon(5.5% 0%, 30% 100%, 100% 100%, 100% 0%);
	clip-path: polygon(5.5% 0%, 30% 100%, 100% 100%, 100% 0%);
	position: absolute;
	display: none;
	opacity: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translate(15px,0);
	-ms-transform: translate(15px,0);
	transform: translate(15px,0);
}
.promo-slider .right .slide.active {
	display: block;
	
}
.promo-slider .right .slide.active.op {
	opacity: 1;
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);
}
/*****************
***** Menu *******
*****************/
section.menu {
	width: 90%;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
}
section.menu:before {
	content: "";
	width: 50%;
	display: block;
	height: 110%;
	top: 0;
	left: -5%;
	position: absolute;
	background: url(../img/tiger-gray-lay.png) 0% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.menu .main {
	width: 68%;
	padding-left: 30px;
}
.menu .main .promo {
	
}
.menu .main .promo .wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.menu .main .promo .double {
	width: 48%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.menu .main .promo .item1 {
	background: url(../img/spec-main-img.jpg) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 795px;
	width: calc(48% - 30px);
}
.menu .main .promo .item {
	padding: 50px 15px 0 15px;
	position: relative;
}
.menu .main .promo .item h3 {
	color: #fefefe;
	font: 36px MarketBold;
}

.menu .main .promo .item .price {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #222222;
	color: #ff2121;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-align-items: flex-start;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 20px 15px;
	width: calc(50% - 30px);
	font-family: Roboto, sans-serif;
}
.menu .main .promo .item .price .from {
	font: 300 24px Roboto;
}
.menu .main .promo .item .price > span {
	margin-right: 15px;
}
.menu .main .promo .item .price .weight {
	margin-top: 5px;
}
.menu .main .promo .item .price .price-item {
	color: #fefefe;
	font: 50px MarketBold;
	line-height: 1.1em;
}
.menu .main .promo .item2, .menu .main .promo .item3 {
	height: calc(48% - 50px)
}
.menu .main .promo .item2 {
	background: url(../img/spec-2-img.jpg) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.menu .main .promo .item3 {
	background: url(../img/spec-3-img.jpg) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.menu  .nav {
	width: 28%;
	padding-top: 40px;
}
.menu  .nav h2, .menu .tab h2 {
	color: #cfcfcf;
	font: 51px MarketBold;
	position: relative;
}
.menu  .nav ul {
	padding: 80px 0 0 60px;
	color: #cfcfcf;
	font: 24px MarketBold;
}
.menu  .nav ul li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-ms-align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 63%;
	padding: 10px 20px;
	border: 1px solid #d12329;
	margin-bottom: 15px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	cursor: pointer;
}
.menu  .nav ul li:hover, .menu  .nav ul li.active {
	background: #290000;
	-webkit-transform: translate(10px,0);
	-ms-transform: translate(10px,0);
	transform: translate(10px,0);
}
.menu  .nav ul li span {
	width: 50%;
}
.menu  .nav ul li .img {
	width: 22%;
	padding-top: 22%;
	
}
.menu .menuTab h2 .close {
	position: absolute;
	width: 30px;
	padding-top: 30px;
	background: url(../img/close-but.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	right: 30px;
	top: 50%;
	transform: translate(0,-50%);
	cursor: pointer;
}
.menu  .nav ul li .img.pizza {
	background: url(../img/pizza-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.menu  .nav ul li .img.sushi {
	background: url(../img/sushi-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.menu  .nav ul li .img.lunch {
	background: url(../img/lunch-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.menu  .nav ul li .img.desert {
	background: url(../img/desert-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.menu  .nav ul li .img.salad {
	background: url(../img/salad-icon1.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.menu  .nav ul li .img.drink {
	background: url(../img/drinks-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.menu .pizza-tab, .menu .sushi-tab, .menu .lunch-tab, .menu .desert-tab, .menu .salad-tab, .menu .drinks-tab {
	height: 795px;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-top: 40px;
	position: relative;
}
.menu .pizza-tab .wrap, .menu .sushi-tab .wrap, .menu .lunch-tab .wrap, .menu .desert-tab .wrap, .menu .salad-tab .wrap, .menu .drinks-tab .wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 100%;
	margin-top: 65px;
}
.menu .pizza-tab .wrap .item, .menu .sushi-tab .wrap .item, .menu .lunch-tab .wrap .item, .menu .desert-tab .wrap .item, .menu .salad-tab .wrap .item, .menu .drinks-tab .wrap .item {
	width: 280px;
	height: 375px;
	padding: 20px 10px;
	margin-bottom: 1%;
	margin-right: 1%;
	background: #000000;
}
.menu .pizza-tab .wrap .item .img {
	width: 80%;
	padding-top: 49%;
	margin: 0 auto;
}
.menu .menuTab .descr-promo {
	position: absolute;
	bottom: 70px;
	left: 30px;
	color: #ffe5c0;
	font: 300 14px Roboto;
}
.menu .menuTab .descr-promo p, .menu .menuTab .descr-promo div {
	padding-left: 15px;
	margin-bottom: 15px;
	border-left: 3px solid #d6a154;
}
.menu .pizza-tab.menuTab .item h4 {
	color: #ff5050;
	font: 500 17px Roboto;
	margin-bottom: 30px;
}
.menu .pizza-tab.menuTab .item h4 span {
	color: #e8e8e8;
}
.menu .pizza-tab.menuTab .item .descr {
	color: #d9d9d9;
	font: 500 14px Roboto;
	line-height: 1.5em;
}
.menu .menuTab .item .price {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 57%;
	margin: 25px 0 0 43%;
}
.menu .pizza-tab.menuTab .item .price>div {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
.menu .pizza-tab.menuTab .item .price .size {
	color: #da0404;
	font-size: 18px;
}
.menu .pizza-tab.menuTab .item .price .price-num {
	color: #ffffff;
	font: 24px MarketBold;
}
.menu .pizza-tab.menuTab .item .price .weight {
	color: #da0404;
	font: 24px MarketBold;
}
.menu .pizza-tab .wrap .item0 .img {
	background: url(../img/pizza-item-1.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.menu .main > .tab {
	display: none;
	opacity:0;
	-webkit-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
	-webkit-transform: translate(0,-15px);
	-ms-transform: translate(0,-15px);
	transform: translate(0,-15px);
}
.menu .main > .tab.active {
	display: block;
}
.menu .main > .tab.active.op {
	opacity:1;
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);
	-webkit-box-shadow: 0 0 10px 6px #1f1e1e;
	box-shadow: 0 0 10px 6px #1f1e1e;
	padding-left: 30px;
}
.menu .main .promo.active.op {
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
}
::-webkit-scrollbar {
	width: 3px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px red; 
}

/******************
**** Placement ****
******************/
.placement {
	margin-top: 90px;
}
.placement .wrap {
	width: 90%;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
}
.placement .wrap .control {
	width: 26.5%;
	padding: 90px 0 50px;
}

.placement .wrap .control h2 {
	color: #e4e4e4;
	font: 50px MarketBold;
	line-height: 1.1em;
	margin-bottom: 25px;
}
.placement .wrap .control .subtitle {
	color: #999999;
	font-size: 24px;
	margin-bottom: 60px;
}
.placement .wrap .control .descr {
	color: #999999;
	font-size: 18px;
}
.placement .wrap .control .view {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px 60px;
	margin-top: 15px;
	border: 1px solid #d12329;
	background: #1f1f1f;
	color: #fff;
	font: 24px MarketBold;
	width: calc(70% - 120px);
}
.placement .wrap .control .view .img {
	background: url(../img/360view.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 40px;
	height: 40px;
}
.placement .wrap .control .buts {
	font: 80px MarketBold;
	color: #282828;
	margin: 30px 0 50px;
	min-height: 129px;
}
.placement .wrap .control .buts div {
	display: inline-block;
	margin-right: 50px;
	cursor: pointer;
}
.placement .wrap .control .buts div.active {
	font-size: 120px;
	color: #606060;
	position: relative;
}
.placement .wrap .control .buts div.active:after {
	content: 'Этаж';
	display: block;
	position: absolute;
	font: 500 18px MarketBold;
	color: #484848;
	bottom: 27%;
	right: -2em;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.placement .wrap .control .double {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.placement .wrap .control .double .timeline {
	width: 47%;
	height: 3px;
	background: #ffc0c0;
	position: relative;
}
.placement .wrap .control .double .timeline span {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 6px;
	background: #d24a43;
}
.placement .wrap .control .double .arrow {
	width: 22px;
	height: 12px;
	background: url(../img/arrow-right.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	cursor: pointer;
	-webkit-animation: rollRight 1.5s ease-in-out infinite;
	animation: rollRight 1.5s ease-in-out infinite;
	outline: none;
}
.placement .wrap .slider {
	width: 71%;
	position: relative;
}
.placement .wrap .slide {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-clip-path: polygon(0% 0%, 0% 85%, 20% 85%, 20% 100%, 100% 100%, 100% 0%);
	clip-path: polygon(0% 0%, 0% 85%, 20% 85%, 20% 100%, 100% 100%, 100% 0%);
	background: #ccc;
	display: none;
	opacity: 0;
	-webkit-transform: translate(15px,0);
	-ms-transform: translate(15px,0);
	transform: translate(15px,0);
}
.placement .wrap .slide.active {
	display: block;
}
.placement .wrap .slide.active.op {
	opacity: 1;
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);
}
.placement .wrap .slider .lines {
	position: absolute;
	bottom: 6.5%;
	left:  0;
	width: 15%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.placement .wrap .slider .lines span {
	width: 20%;
	height: 2px;
	background: #4e4e4e;
}
.placement .wrap .slider .lines span.active {
	display: block;
}
.placement .wrap .slider .lines span.active {
	background: #ffffff;
}
.placement .wrap .first-floor {
	position: absolute;
	width: 73%;
	right: -1%;
	top: -1%;
	height: 102%;
	background: #222222 url(../img/tiger-gray-lay.png) 0% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	-webkit-box-shadow: 0 10px 35px #191919;
	box-shadow: 0 10px 35px #191919;
	display: none;
	opacity: 0;
	-webkit-transform: translate(15px,0);
	-ms-transform: translate(15px,0);
	transform: translate(15px,0);
	-webkit-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.placement .wrap .first-floor .close {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	left: 5px;
	top: 5px;
	background: url(../img/close-but.png)50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	cursor: pointer;
	z-index: 100;
}
.placement .wrap .first-floor.active {
	display: block;
}
.placement .wrap .first-floor.active.op {
	opacity:1;
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);
}
.placement .wrap .first-floor .double {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
}
.placement .wrap .first-floor .double .left {
	width: 64%;
	padding: 30px 20px 0;
}
.placement .wrap .first-floor .double .left .scheme {
	width: 93%;
	padding-top: 73%;
	background: url(../img/first-floor-scheme.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	margin-bottom: 35px;
}
.placement .wrap .first-floor .double .left .buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.placement .wrap .first-floor .double .left .buttons .double {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 49%;
}
.placement .wrap .first-floor .double .left .buttons .double a {
	border: 2px solid #d12329;
	padding: 12px 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background: #1f1f1f;
}
.placement .wrap .first-floor .double .left .buttons .double a span:nth-of-type(1) {
	font: 30px MarketBold;
	color: #ffffff;
	margin-right: 20px;
	line-height: 1;
}
span:nth-of-type(2) {
	color: #da0404;
	font: 16px MarketBold;
	line-height: 1em;
}
.placement .wrap .first-floor .double .left .buttons .book {
	width: 40%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #e1a957;
	font: 16px MarketBold;
	line-height: 1em;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.placement .wrap .first-floor .double .left .buttons .book .img {
	background: url(../img/credit-card.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 55px;
	height: 40px;
}
.placement .wrap .first-floor .double .left .descr {
	font: 18px Roboto;
	color: #999999;
	margin-top: 30px;
}
.placement .wrap .first-floor .double .left .descr a {
	color: #e1a957;
}
.placement .wrap .first-floor .double .right  {
	width: 34%;
	padding: 15px 35px 0 0;
}
.placement .wrap .first-floor .double .right .goods {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.placement .wrap .first-floor .double .right .goods .item {
	width: 47%;
	margin-bottom: 35px;
}
.placement .wrap .first-floor .double .right .goods .item:nth-of-type(2n) p:nth-of-type(1) {
	font: 100 18px Roboto;
	color: #f0f0f0;
	text-decoration: line-through;
}
.placement .wrap .first-floor .double .right .goods .item:nth-of-type(2) p:nth-of-type(1) {
	text-decoration: none;
}
.placement .wrap .first-floor .double .right .goods .item:nth-of-type(1) p:nth-of-type(1), .placement .wrap .first-floor .double .right .goods .item:nth-of-type(3) p:nth-of-type(1), .placement .wrap .first-floor .double .right .goods .item:nth-of-type(5) p:nth-of-type(1) {
	font: 50px MarketBold;
	color: #e1a957;
}
.placement .wrap .first-floor .double .right .goods .item:nth-of-type(1) p:nth-of-type(2),.placement .wrap .first-floor .double .right .goods .item:nth-of-type(3) p:nth-of-type(2), .placement .wrap .first-floor .double .right .goods .item:nth-of-type(5) p:nth-of-type(2)   {
	font: 100 18px Roboto;
	color: #f0f0f0;
}
.placement .wrap .first-floor .double .right .goods .item .img {
	width: 45%;
	padding-top: 30%;
	margin-bottom: 12px;
}
.placement .wrap .first-floor .double .right .goods .lounge .img {
	background: url(../img/lounge-icon-orange.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.placement .wrap .first-floor .double .right .goods .hookah .img {
	background: url(../img/hookah-icon-gray.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.placement .wrap .first-floor .double .right .goods .kar .img {
	background: url(../img/karaoke-icon-gray.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.placement .first-floor .butts {
	position: absolute;
	bottom: -.8em;
	right: 4%;
	font: 80px MarketBold;
	color: #282828;
}

.placement .first-floor .butts div {
	display: inline-block;
	margin-right: 50px;
	cursor: pointer;
}
.placement .first-floor .butts div.active {
	font-size: 120px;
	color: #483d2d;
	position: relative;
}
.placement .first-floor .butts div.active:after {
	content: 'Этаж';
	display: block;
	position: absolute;
	font: 500 18px MarketBold;
	color: #484848;
	bottom: 27%;
	right: -2em;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
/* second floor*/
.placement .wrap .second-floor {
	position: absolute;
	width: 73%;
	right: -1%;
	top: -1%;
	height: 102%;
	background: #222222 url(../img/tiger-gray-lay.png) 0% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	-webkit-box-shadow: 0 10px 35px #191919;
	box-shadow: 0 10px 35px #191919;
	display: none;
	opacity: 0;
	-webkit-transform: translate(15px,0);
	-ms-transform: translate(15px,0);
	transform: translate(15px,0);
	-webkit-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.placement .wrap .second-floor .close {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	left: 5px;
	top: 5px;
	background: url(../img/close-but.png)50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	cursor: pointer;
	z-index: 100;
}
.placement .wrap .second-floor.active {
	display: block;
}
.placement .wrap .second-floor.active.op {
	opacity:1;
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);
}
.placement .wrap .second-floor .double {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
}
.placement .wrap .second-floor .double .left {
	width: 64%;
	padding: 30px 20px 0;
}
.placement .wrap .second-floor .double .left .scheme {
	width: 93%;
	padding-top: 73%;
	background: url(../img/second-floor-scheme.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	margin-bottom: 35px;
}
.placement .wrap .second-floor .double .left .buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.placement .wrap .second-floor .double .left .buttons .double {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 49%;
}
.placement .wrap .second-floor .double .left .buttons .double a {
	border: 2px solid #d12329;
	padding: 12px 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background: #1f1f1f;
}
.placement .wrap .second-floor .double .left .buttons .double a span:nth-of-type(1) {
	font: 30px MarketBold;
	color: #ffffff;
	margin-right: 20px;
	line-height: 1;
}
span:nth-of-type(2) {
	color: #da0404;
	font: 16px MarketBold;
	line-height: 1em;
}
.placement .wrap .second-floor .double .left .buttons .book {
	width: 40%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #e1a957;
	font: 16px MarketBold;
	line-height: 1em;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.placement .wrap .second-floor .double .left .buttons .book .img {
	background: url(../img/credit-card.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 55px;
	height: 40px;
}
.placement .wrap .second-floor .double .left .descr {
	font: 18px Roboto;
	color: #999999;
	margin-top: 30px;
}
.placement .wrap .second-floor .double .left .descr a {
	color: #e1a957;
}
.placement .wrap .second-floor .double .right  {
	width: 34%;
	padding: 15px 35px 0 0;
}
.placement .wrap .second-floor .double .right .goods {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.placement .wrap .second-floor .double .right .goods .item {
	width: 47%;
	margin-bottom: 35px;
}
.placement .wrap .second-floor .double .right .goods .item:nth-of-type(2n) p:nth-of-type(1) {
	font: 100 18px Roboto;
	color: #f0f0f0;
	text-decoration: line-through;
}
.placement .wrap .second-floor .double .right .goods .item:nth-of-type(2) p:nth-of-type(1) {
	text-decoration: none;
}
.placement .wrap .second-floor .double .right .goods .item:nth-of-type(1) p:nth-of-type(1), .placement .wrap .second-floor .double .right .goods .item:nth-of-type(3) p:nth-of-type(1), .placement .wrap .second-floor .double .right .goods .item:nth-of-type(5) p:nth-of-type(1) {
	font: 50px MarketBold;
	color: #e1a957;
}
.placement .wrap .second-floor .double .right .goods .item:nth-of-type(1) p:nth-of-type(2),.placement .wrap .second-floor .double .right .goods .item:nth-of-type(3) p:nth-of-type(2), .placement .wrap .second-floor .double .right .goods .item:nth-of-type(5) p:nth-of-type(2)   {
	font: 100 18px Roboto;
	color: #f0f0f0;
}
.placement .wrap .second-floor .double .right .goods .item .img {
	width: 45%;
	padding-top: 30%;
	margin-bottom: 12px;
}
.placement .wrap .second-floor .double .right .goods .lounge .img {
	background: url(../img/lounge-icon-orange.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.placement .wrap .second-floor .double .right .goods .hookah .img {
	background: url(../img/hookah-icon-gray.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.placement .wrap .second-floor .double .right .goods .kar .img {
	background: url(../img/karaoke-icon-gray.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.placement .second-floor .butts {
	position: absolute;
	bottom: -.8em;
	right: 4%;
	font: 80px MarketBold;
	color: #282828;
}

.placement .second-floor .butts div {
	display: inline-block;
	margin-right: 50px;
	cursor: pointer;
}
.placement .second-floor .butts div.active {
	font-size: 120px;
	color: #483d2d;
	position: relative;
}
.placement .second-floor .butts div.active:after {
	content: 'Этаж';
	display: block;
	position: absolute;
	font: 500 18px MarketBold;
	color: #484848;
	bottom: 27%;
	right: -2em;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
/* third floor */
.placement .wrap .third-floor {
	position: absolute;
	width: 73%;
	right: -1%;
	top: -1%;
	height: 102%;
	background: #222222 url(../img/tiger-gray-lay.png) 0% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	-webkit-box-shadow: 0 10px 35px #191919;
	box-shadow: 0 10px 35px #191919;
	display: none;
	opacity: 0;
	-webkit-transform: translate(15px,0);
	-ms-transform: translate(15px,0);
	transform: translate(15px,0);
	-webkit-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.placement .wrap .third-floor .close {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	left: 5px;
	top: 5px;
	background: url(../img/close-but.png)50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	cursor: pointer;
	z-index: 100;
}
.placement .wrap .third-floor.active {
	display: block;
}
.placement .wrap .third-floor.active.op {
	opacity:1;
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);
}
.placement .wrap .third-floor .double {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
}
.placement .wrap .third-floor .double .left {
	width: 64%;
	padding: 30px 20px 0;
}
.placement .wrap .third-floor .double .left .scheme {
	width: 93%;
	padding-top: 73%;
	background: url(../img/third-floor-scheme.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	margin-bottom: 35px;
}
.placement .wrap .third-floor .double .left .buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.placement .wrap .third-floor .double .left .buttons .double {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 49%;
}
.placement .wrap .third-floor .double .left .buttons .double a {
	border: 2px solid #d12329;
	padding: 12px 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background: #1f1f1f;
}
.placement .wrap .third-floor .double .left .buttons .double a span:nth-of-type(1) {
	font: 30px MarketBold;
	color: #ffffff;
	margin-right: 20px;
	line-height: 1;
}
span:nth-of-type(2) {
	color: #da0404;
	font: 16px MarketBold;
	line-height: 1em;
}
.placement .wrap .third-floor .double .left .buttons .book {
	width: 40%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #e1a957;
	font: 16px MarketBold;
	line-height: 1em;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.placement .wrap .third-floor .double .left .buttons .book .img {
	background: url(../img/credit-card.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 55px;
	height: 40px;
}
.placement .wrap .third-floor .double .left .descr {
	font: 18px Roboto;
	color: #999999;
	margin-top: 30px;
}
.placement .wrap .third-floor .double .left .descr a {
	color: #e1a957;
}
.placement .wrap .third-floor .double .right  {
	width: 34%;
	padding: 15px 35px 0 0;
}
.placement .wrap .third-floor .double .right .goods {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.placement .wrap .third-floor .double .right .goods .item {
	width: 47%;
	margin-bottom: 35px;
}
.placement .wrap .third-floor .double .right .goods .item:nth-of-type(2n) p:nth-of-type(1) {
	font: 100 18px Roboto;
	color: #f0f0f0;
	text-decoration: line-through;
}
.placement .wrap .third-floor .double .right .goods .item:nth-of-type(2) p:nth-of-type(1) {
	text-decoration: none;
}
.placement .wrap .third-floor .double .right .goods .item:nth-of-type(1) p:nth-of-type(1), .placement .wrap .third-floor .double .right .goods .item:nth-of-type(3) p:nth-of-type(1), .placement .wrap .third-floor .double .right .goods .item:nth-of-type(5) p:nth-of-type(1) {
	font: 50px MarketBold;
	color: #e1a957;
}
.placement .wrap .third-floor .double .right .goods .item:nth-of-type(1) p:nth-of-type(2),.placement .wrap .third-floor .double .right .goods .item:nth-of-type(3) p:nth-of-type(2), .placement .wrap .third-floor .double .right .goods .item:nth-of-type(5) p:nth-of-type(2)   {
	font: 100 18px Roboto;
	color: #f0f0f0;
}
.placement .wrap .third-floor .double .right .goods .item .img {
	width: 45%;
	padding-top: 30%;
	margin-bottom: 12px;
}
.placement .wrap .third-floor .double .right .goods .lounge .img {
	background: url(../img/lounge-icon-orange.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.placement .wrap .third-floor .double .right .goods .hookah .img {
	background: url(../img/hookah-icon-gray.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.placement .wrap .third-floor .double .right .goods .kar .img {
	background: url(../img/karaoke-icon-gray.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.placement .third-floor .butts {
	position: absolute;
	bottom: -.8em;
	right: 4%;
	font: 80px MarketBold;
	color: #282828;
}

.placement .third-floor .butts div {
	display: inline-block;
	margin-right: 50px;
	cursor: pointer;
}
.placement .third-floor .butts div.active {
	font-size: 120px;
	color: #483d2d;
	position: relative;
}
.placement .third-floor .butts div.active:after {
	content: 'Этаж';
	display: block;
	position: absolute;
	font: 500 18px MarketBold;
	color: #484848;
	bottom: 27%;
	right: -2em;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
/******************
****** Map ********
******************/
.map {
	position: relative;
	margin-top: 90px;
}
.map .title {
	width: 35.5%;
	position: absolute;
	right: 4%;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);
	/*background: #222222;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	/*padding: 40px 30px;*/
}
.map .title .cont, .map .title .logo {
	padding: 40px 30px;
	width: calc(50% - 61px);
	background: #222222;
}
.map .title .cont > a, .map .title .cont p {
	color: #fff;
	font: 24px MarketInlineBold;
	padding: 30px 0;
	text-align: center;
	display: block;
	border-bottom: 1px solid #ff0000;
	letter-spacing: 2px;
}
.map .title .cont > a {
	padding-top: 0;
}
.map .title .cont .links {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 50%;
	margin: 0 auto;
	padding-top: 20px;
}
.map .title .cont .links a {
	display: inline-block;
	width: 21%;
	padding-top: 21%;
	border-radius: 50%;
}
.map .title .cont .links a.fb {
	background: #202020 url(../img/fb-icon.png) 50% no-repeat;
	background-size: 40%;
}
.map .title .cont .links a.be {
	background: #202020 url(../img/be-icon.png) 50% no-repeat;
	background-size: 60%;
}
.map .title .cont .links a.goo {
	background: #202020 url(../img/goo-icon.png) 50% no-repeat;
	background-size: 60%;
}
.map .title .logo .img {
	width: 100%;
	height: 100%;
	background: url(../img/tiger-logo-map.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.map .map-area {
	width: 100%;
	height: 500px;
}
.map .gm-style > div:nth-of-type(2), .map .gm-style > div:nth-of-type(4), .map .gm-style > div:nth-of-type(6) {
	display: none;
}
.footer {
	padding: 45px 0 25px;
}
.footer .wrap {
	width: 90%;
	margin: 0 auto;
}
.footer .wrap .contacts {
	width: 25%;
	margin: 0 auto;
	color: #e1a957;
	font: 16px MarketBold;
	text-align: center;
	letter-spacing: 1px;
}
.footer .wrap .contacts .logo {
	width: 21%;
	padding-top: 21%;
	background: url(../img/logo-footer.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	margin: 0 auto 25px;
}
.footer .wrap .contacts .links {
	margin-top: 12px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 100%
}
.footer .wrap .contacts .links a {
	font: 100 14px Roboto;
	color: #cc8d31;
}
.footer .wrap .copy {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 70px;
}
.footer .wrap .copy > p {
	width: 23%;
	color: #aaaaaa;
	font-size: 14px;
}
.footer .wrap .copy .devs {
	width: 20%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 14px;
	color: #999999;
}
.footer .wrap .copy .devs span {
	display: block;
	color: #b9b9b9;
}
.footer .wrap .copy .devs > div {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.footer .wrap .copy .devs .design .img {
	background: url(../img/why-not-logo.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 65px;
	height: 45px;
}
.footer .wrap .copy .devs .dev .img {
	background: url(../img/vinit-logo.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 45px;
	height: 45px;
	margin-left: 6px;
}
.menu .nav .sandw {
	display: none;
}
/*******************
***** adaptive *****
*******************/
@media screen and (max-width: 1500px) {
	.video-title .title h1, .promo-slider .left .tag, .promo-slider .left h2 {
		font-size: 36px;
	}
	.header .cont a {
		font-size: 24px;
	}
	.header .cont a, .promo-slider .left .tag span, .promo-slider .left .desc {
		font-size: 21px;
	}
	.map .title .cont > a, .map .title .cont p {
		font-size: 16px;
		padding: 15px 0;
	}
	.map .title .cont > a {
		padding-top: 0;
	}
	.placement .wrap .control h2 {
		font-size: 36px;
	}
	.placement .wrap .control .view {
		padding: 10px 30px;
	}
	.placement .wrap .control {
		padding: 30px 0;
	}
	.footer .wrap .contacts {
		width: 35%;
	}
	.footer .wrap .copy .devs {
		width: 30%;
	}
}
@media screen and (max-width: 1366px) {
	.video-title .title {
		padding-top: 17%;
	}
	.video-title .title h1 {
		margin-bottom: 45px;
	}
	.header .center {
		width: 48%;
	}
	.menu .nav ul li {
		width: auto;
	}
	.placement .wrap .control h2 {
		font-size: 30px;
	}
	.placement .wrap .control .view {
		width: calc(70% - 60px);
	}
	.placement .wrap .control .subtitle {
		margin-bottom: 30px;
	}
	.placement .wrap .control .buts {
		margin: 15px 0 25px;
	}
	.map .title {
		width: 45%;
	}
	.footer .wrap .copy > p {
		width: 33%;
	}
	.promo-slider .wrap {
		padding-top: 0;
	}
}
@media screen and (max-width: 1024px) {
	.video-title .title h1, .promo-slider .left .tag, .promo-slider .left h2 {
		font-size: 28px;
	}
	.video-title .title .tripple .item {
		font-size: 14px;
	}
	.video-title .title {
		padding-top: 16%;
	}
	.header .cont a {
		font-size: 21px;
		line-height: 1.5em;
	}
	.header .cont p, .promo-slider .left .tag span, .promo-slider .left .desc {
		font-size: 18px;
	}
	.promo-slider .left .double {
		padding-top: 60px;
	}
	.promo-slider .right {
		height: 50%;
	}
	.map .title {
		width: 50%;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
	.map .title .cont {
		width: calc(100% - 60px);
	}
	.map .title .logo {
		display: none;
	}
	.map .map-area {
		height: 70vh;
	}
	.menu .main .promo .item1 {
		min-height: 600px;
	}
	.menu .main .promo .item h3, .menu .main .promo .item .price .price-item {
		font-size: 30px;
	}
	.menu .main .promo .item {
		padding-top: 20px;
	}
	.placement .wrap .slider {
		width: 60%;
	}
	.placement .wrap .control {
		width: 37%;
	}
	.footer .wrap .contacts {
		width: 50%;
	}
	.footer .wrap .copy .devs {
		width: 40%;
	}
}
@media screen and (max-width: 922px) {
	.video-title > .img {
		display: none;
	}
	.video-title .title {
		width: 50%;
	}
	.menu .main .promo .item .price {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.menu .nav ul {
		display: none;
		opacity: 0;
		-webkit-transform: translate(10px,0);
		-ms-transform: translate(10px,0);
		transform: translate(10px,0);
	}
	.menu .nav ul.active {
		display: block;
	}
	.menu .nav ul.active.op {
		opacity:1;
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
		background: #222222;
		padding: 0;
	}
	.menu .nav {
		width: 28%;
		padding-top: 0;
		position: absolute;
		right: 0;
		top: -70px;
	}
	.menu .main {
		width: 100%;
	}
	.menu .nav .sandw {
		display: block;
		width: 40px;
		background: #cfcfcf;
		position: absolute;
		right: 0;
		top: 50%;
		height: 3px;
		-webkit-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%);
		transform: translate(0,-50%);
		cursor: pointer;
	}
	.menu .nav .sandw.active {
		top: 6%;
	}
	.menu .nav .sandw:before {
		content: "";
		display: block;
		width: 40px;
		background: #cfcfcf;
		position: absolute;
		right: 0;
		height: 3px;
		top: -10px;
	}
	.menu .nav .sandw:after {
		content: "";
		display: block;
		width: 40px;
		background: #cfcfcf;
		position: absolute;
		right: 0;
		height: 3px;
		top: 10px;
	}
	.placement .wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
	.placement .wrap .control {
		width: 90%;
	}
	.placement .wrap .control .view {
		width: calc(30% - 60px);
	}
	.placement .wrap .slider {
		width: 100%;
		padding-top: 60%;
	}
	.placement .wrap .first-floor, .placement .wrap .second-floor, .placement .wrap .third-floor {

		width: 100%;
		height: 63%;
	}
}
@media screen and (max-width: 768px) {
	.video-title video {
		width: auto;
		height: 100%
	}
	.header .center .desc {
		display: none;
	}
	.promo-slider .left .desc {
		width: 100%
	}
	.menu .main .promo .double {
		display: none;
	}
	.menu .main .promo .item1 {
		width:100%;
	}
	.menu .main {
		width: 100%;
	}
	.placement .wrap .first-floor .double, .placement .wrap .second-floor .double, .placement .wrap .third-floor .double {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
	.placement .wrap .first-floor, .placement .wrap .second-floor, .placement .wrap .third-floor {
		height: 100%;
	}
	.placement .wrap .first-floor .double .left, .placement .wrap .second-floor .double .left, .placement .wrap .third-floor .double .left {
		width: calc(100% - 40px);
	}
	.placement .wrap .first-floor .double .right, .placement .wrap .second-floor .double .right, .placement .wrap .third-floor .double .right {
		width: calc(100% - 35px);
		padding: 15px 17px 0 17px;
	}
	.placement .wrap .first-floor .double .right .goods .item, .placement .wrap .second-floor .double .right .goods .item, .placement .wrap .third-floor .double .right .goods .item {
		width: 30%;
		margin-bottom: 10px;
	}
	.placement .wrap .first-floor .double .left .scheme, .placement .wrap .second-floor .double .left .scheme, .placement .wrap .third-floor .double .left .scheme {
		padding-top: 60%;
	}
	.placement .first-floor .butts, .placement .second-floor .butts, .placement .third-floor .butts {
		display: none;
	}
	.footer .wrap .contacts {
		width: 70%;
	}
	.footer .wrap .copy {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
	.footer .wrap .copy > p {
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}
	.footer .wrap .copy .devs {
		width: 60%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 660px) {
	.video-title .title {
		padding-top: 22%;
		width: 70%;
	}
	.header .logo {
		width: 13%;
		padding-top: 13%;
	}
	.header .center {
		display: none;
	}
	.header.fixed .logo {
		width: 8%;
		padding-top: 8%;
	}
	.promo-slider .right {
		display: none;
	}
	.promo-slider .left {
		width: 80%;
	}
	.menu .nav {
		width: 40%;
	}
	.placement .wrap .control .view {
		width: calc(40% - 60px);
	}

}
@media screen and (max-width: 480px) {
	.video-title .title {
		padding-top: 115px;
	}
	.header .logo {
		padding-top: 80px;
		width: 80px;
	}
	.video-title .title h1 {
		font-size: 22px;
		letter-spacing: 4px;
	}
	.video-title .title .tripple .img {
		display: none;
	}
	.video-title .title .tripple {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
	.video-title .title .tripple .item {
		width: 100%;
		margin-bottom: 15px;
	}
	.video-title .title .tripple p {
		font-size: 16px;
	}
	.header .wrap {
		padding-top: 15px;
	}
	.header .cont a {
		font-size: 18px;
	}
	.header .cont p {
		font-size: 14px;
	}
	.map .title .cont > a, .map .title .cont p {
		font-size: 12px;
	}
	.header.fixed .logo {
		width: 10%;
		padding-top: 10%;
	}
	.promo-slider .left h2 {
		word-wrap: break-word;
	}
	.menu .nav {
		width: 55%;
	}
	.menu .pizza-tab .wrap, .menu .sushi-tab .wrap, .menu .lunch-tab .wrap, .menu .desert-tab .wrap, .menu .salad-tab .wrap, .menu .drinks-tab .wrap {
		margin-top: 0;
	}
	.map .title {
		width: 60%;
	}
	.placement .wrap .control .view {
		width: calc(50% - 60px);
	}
	.placement .wrap .control .buts div.active {
		font-size: 90px;
	}
	.placement .wrap .control .buts {
		font-size: 60px;
	}
	.placement .wrap .control .buts div {
		margin-right: 25px;
	}
	.footer .wrap .contacts {
		width: 100%;
	}
	.footer .wrap .contacts .links {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
	.footer .wrap .contacts .links a {
		margin-bottom: 6px;
	}
	.footer .wrap .copy .devs {
		width: 90%;
	}
}
@media screen and (max-width: 350px) {
	.menu .nav {
		width: 90%;
	}
	.menu .main > .tab.active.op {
		padding-left: 0;
	}
	.menu .pizza-tab .wrap .item, .menu .sushi-tab .wrap .item, .menu .lunch-tab .wrap .item, .menu .desert-tab .wrap .item, .menu .salad-tab .wrap .item, .menu .drinks-tab .wrap .item {
		width: 75vw;
	}
	.menu .menuTab .item .price {
		width: 80%;
		margin: 25px 0 0 20%;
	}
	.menu .pizza-tab, .menu .sushi-tab, .menu .lunch-tab, .menu .desert-tab, .menu .salad-tab, .menu .drinks-tab {
		height: 690px;
	}
	.placement .wrap .control .view {
		width: calc(80% - 60px);
	}
	.footer .wrap .copy .devs > div {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-ms-align-items: center;
		-webkit-align-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
		text-align: center;
	}
}